/* Estilos globales */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .li class="navbar__menu-list-item" {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #ccc; 
    border-radius: 10px; 
  }
  
  /* Estilos para encabezado */
  .section class="sections" {
    text-align: center;
    margin-bottom: 20px;
  }
  
  h1 {
    font-size: 30px;
    color: #333;
    margin: 0;
  }
  
  p {
    font-size: 16px;
    color: #777;
    margin-top: 5px;
  }
  
  /* Estilos para secciones */
  .section class="navbar__section" {
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 20px;
    color: #333;
    margin: 0;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin: 0;
  }
  
  /* Estilos para lista de habilidades */
  li {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  h4 {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 10px;
    padding: 5px 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
    font-size: 14px;
    color: #555;
  }
  
  /* Estilos para experiencia */
  .section id="experiencies" class="section section-experiences" {
    margin-bottom: 20px;
  }
  
  {
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin: 0;
  }
  
  .date {
    font-size: 14px;
    color: #777;
  }
  
  /* Estilos para trabajo */
  .section id="my-work" class="section section-my-work" {
    margin-bottom: 20px;
  }
  
  .degree {
    margin-bottom: 10px;
  }
  
  h3 {
    font-size: 18px;
    color: #333;
    margin: 0;
    margin-bottom: 5px;
  }
  
  p {
    font-size: 16px;
    color: #555;
    margin: 0;
  }
  
  .date {
    font-size: 14px;
    color: #777;
  }